# Build output (React)
**/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Coverage reports
coverage/

# Misc
.pnp
.pnp.js